body{
    font-family: 'Baloo Chettan 2', cursive;

}
.navig{
    
    display: flex;
   font-size: 25px;
   text-transform:uppercase;
   margin-left: auto;
   margin-right: auto;
}
a{ 
    text-decoration: none;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    color: powderblue;
}
a:hover{
    color: darkblue;
}
h1{
   justify-content: center;
    color: darkblue;
    margin-left: auto;
    margin-right: auto;
}
.logcontainer{
    width: 700px;
    background-color: powderblue;
    margin: 10px;
    padding:15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.log{
    text-decoration: none;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    color:darkblue;
}
.reg{
    text-decoration: none;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    color: darkblue;
}
input[type=text] {
    padding: 5px;
    border-radius: 5px;
}
input[type=password] {
    padding: 5px;
    border-radius: 5px;
}